.dot {
    background-repeat: repeat;
    min-height: 50vh;
  }
  
  .dot--1 {
    position: absolute;
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent 20%,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.2) 90%,
        transparent 90%
      ),
      linear-gradient(
        to right,
        transparent,
        transparent 20%,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.2) 90%,
        transparent 90%
      ),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3) 20%,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.2) 90%,
        rgba(255, 255, 255, 0.3) 90%
      );
    background-size: 10px 10px;
    opacity: 0.7;
  }
  
  .dot--2 {
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent 20%,
        rgba(255, 255, 255, 0.2) 20%
      ),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3) 20%,
        rgba(255, 255, 255, 0.2) 20%
      );
    background-size: 5px 5px;
    opacity: 0.7;
  }
  
  .dot--3 {
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent 10%,
        rgba(255, 255, 255, 0.2) 10%
      ),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3) 10%,
        rgba(255, 255, 255, 0.2) 10%
      );
    background-size: 10px 10px;
    opacity: 0.7;
  }
  
  .dot--4 {
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent 16.6667%,
        rgba(255, 255, 255, 0.2) 16.6667%
      ),
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.3) 16.6667%,
        rgba(255, 255, 255, 0.2) 16.6667%
      );
    background-size: 6px 6px;
    opacity: 0.7;
  }
  
  /* Animation for dots */
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.3;
    }
  }
  
  .animate-scale {
    animation: scaleUp 5s infinite ease-in-out;
  }
  
  .animate-fade {
    animation: fadeInOut 4s infinite ease-in-out;
  }
  